html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.8;
  font-size: 14px;
  background-color: #d8ebe4;
  color: #282846;
}

* {
  /* ボックスサイズの算出方法を指定
  パディングとボーダーを幅と高さに含める */
  box-sizing: border-box;
}

a {
  color: #007580;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 2rem;
}
